<h1>Contact Form submission from danielendres.net</h1>

<h3> START TRANSMISSION </h3>

<p>Sender: <%= @sender_name %> </p>
<p>Email: <%= @sender_email %> </p>
<p>Phone: <%= @sender_phone %> </p>
<p>Subject: <%= @sender_subject %> </p>
<br>
<p>Message: <%= @sender_message %> </p>

<h3> END TRANSMISSION </h3>
